body {
    font-family: "Montserrat", sans-serif;
    background-color: #F7F7F7;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.main{
    margin-left: 20%;
}
.login-text{
    font-size: 30px;
    font-weight: 700;
    color: #5D5B5B;
}
.welcome-text{
    font-size: 20px;
    margin-top: -30px;
    letter-spacing: 5px;
}
.welcome-text hr{
    margin-top: -20px;
}
.login-container {
    float: left;
    padding: 5px;
    box-sizing: border-box;
    height: 311px;
    width: 426px;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid #CCCCCC;
}
.login-container p{
    text-align: center;
    margin-top: -30px;
    font-size: 18px;
    font-weight: bold;
}
#tenant-profile{
    width: 166px;
    height: 159px;
    margin-left: 7.5em;
}
#admin-profile{
    width: 186px;
    height: 179px;
    margin-left: 7em;
    margin-top: -12px;
}
#admin-text {
    margin-top: -40px;
    font-size: 18px;
    margin-left: 5px;
}
#tenant-content{
    font-size: 10px;
    color: #5D5B5B;
    font-weight: 400;
    margin: 0;
    margin-top: -10px;
    line-height: 20px;
}
#admin-content{
    font-size: 10px;
    color: #5D5B5B;
    font-weight: 400;
    margin: 0;
    margin-top: -10px;
    line-height: 20px;
}
.login-container a {
    background-color: #E0B973;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    display: block;
    width: 80px;
    height: 5px;
    text-align: center;
    margin-top: 10px;
    margin-left: 9.5em;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 20px;
}
#tenant-login {
    background-color: #E0B973;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    display: block;
    width: 80px;
    height: 5px;
    text-align: center;
    margin-top: 9px;
    margin-left: 9.5em;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 20px;
}


